input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(http://fynches.codeandsilver.com/public/front/img/calendar.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
#title-limit {
    margin-top: 7px;
}
#gift_background #background{
    margin:40px;
    min-height: 350px;
    overflow: auto;
}
#gift_background h5{
    font-family:'Poppins',sans-serif;
    font-size:16px;
    font-weight:700;
    margin-top:20px;
    line-height:16px;
}
#gift_background #background .col-md-4{
    margin: 20px 0;
}
#gift_Add #text_area{
    min-height:150px !important;
    border: 1px solid black;
}
#gift_Add #add_form{
    margin:20px;
}

#gift_Add h5{
    font-family:'Futura-Medium';
    font-weight:bold;
    font-size:20px;
    margin:30px;
}

.add_gifts a h5{
    color:black;
    font-size:18px;
    font-weight:bolder;
}
#add_form input{
    border: 1px solid black;
    margin-bottom:10px;
} 
#add_form label{
    font-family:'Futura-Medium';
    font-weight:bold;
    font-size:16px;
}
#gift_amount {
    margin-top:20px;
}
#gift_amount .yellow_submit{
    margin-top: 30px;
    background:#FFDE33;
    color: #4444ce;
    border:1px solid #FFDE33;
}

#myModal h1{
    font-family:'Futura-Medium';
    font-weight:bold;
    font-size:30px;
}
.background-image {
    cursor:pointer;
}
.check_header{
    min-height:100px;
}

.checkout_content{
    margin-top:50px;
    margin-bottom:30px;
}
#checkout_cont h5{
    font-family:'Poppins',sans-serif;
    font-weight:700;
    font-size:24px;
    line-height:24px;
}
#checkout_cont p{
    margin:15px 0;
    font-family:'Avenir-Book';
    letter-spacing:1.09px;
    line-height:19px;
    font-size:14px;
}
#checkout_cont #btn_blk{
    background:#fff;
    color:#4444ce !important;
    border:1px solid #4444ce;
    letter-spacing:2.18px;
    line-height:16px;
    font-size:12px;
    font-family:Avenir-Medium;
}

.gift_background ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    padding-top: 40px;
}

.gift_background ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border: 1px solid black;
    background: #fff;
    border-radius: 10px;

}
.gift_background ::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 30px;
    width: 8px;
    border: 1px solid black;
    background: #000;
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);

}

.gift_background ::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}
#giftZip .modal-content{
    width:50% !important;
    margin: 0 250px !important;
}
#giftZip .gift-zipcode{
    padding: 0px 60px;
}
#giftZip h5{
    font-size:20px;
    font-family:'Avenir-Book';
    margin: 20px 0;
}
#giftZip #gift-zipcode{
    padding:0 50px;
}
#giftZip .yellow-submit{
    background:#FFDE33;
    color: #4444ce;
    border:1px solid #FFDE33;
    margin: 30px 40px;
    padding:10px;
}
#giftZip input{
    border:1px solid #000;
    padding:10px;
    width:100%;
}

#contactPage .yellow_submit{
    background:#FFDE33 !important;
    color: #4444ce !important;
    border:1px solid #FFDE33 !important;
    margin: 50px 0 !important;
}

#contactPage .cont{
    margin:20px 40px !important;
}
#contactPage h5{
    font-size:20px !important;
    font-family:'Futura-Medium' !important;
    margin: 20px 0 !important;
}
#contactPage p{
    font-size:18px !important
}
#contactPage input{
    border:1px solid #000 !important;
    padding:20px !important; 
    width:100% !important;
}
#contactPage label{
    font-size:17px !important;
    font-family:'Futura-Medium' !important;
    margin-top:20px !important;
}
#contactPage textarea{
    width:100% !important;
    min-height:250px !important;
}

#gift_share .cont{
    width:155px;
}
#gift_share img{
    height:100px;
    width:100px;
}

#gift_share p{
    font-size:20px;
    margin: 20px 0px !important;
    font-family:'Avenir-Book';
    line-height:20px;
    color:#34344A;
}
#gift_share label{
    font-size:12px;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    margin-top:10px;
}
#gift_share textarea{
    width:100%;
    min-height:250px;
    border-radius:5px;
}
#gift_share input{
    border:1px solid #000;
    padding:25px;
    color:#000;
    font-family:'Avenir-Book';
    font-size:12px;
    letter-spacing:0.42px;
    padding:20px 10px;
}
#gift_share .yellow_submit{
    background:#FFDE33;
    color: #4444ce;
    border:1px solid #FFDE33;
    margin-top: 30px;
    font-family:'Avenir-Medium';
    font-size:12px;
    letter-spacing:2.18px;
    line-height:16px;
}

.croppie-container .cr-boundary{
    width:300px;
    height:300px;
}
#gift_crop .container{
    width:800px;
}
.gift_reco .add_submit{
    padding:10px;
    color:#000;
    background:#eaf2ef;
    font-family:'Avenir-Medium';
    font-size:12px !important;
    width: 85%;
    line-height:16px;
    margin: 7px 0;
    letter-spacing:2.18px;
}
.gift_reco #marg{
    margin-top: 4px;
}
.text-right p {
    min-height: 0px;
}
.cart_1{
    display:none;
    width: 100%;
    background: black;
    opacity: 0.7;
    padding: 60px 100px;
    height: 250px;
    position: relative;
}

.cancel_1{
    display:none;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 17px !important;
    position: absolute;
    top: 219px;
    width: 100%;
    margin: 0px !important;
    opacity: 0.7;
}

#images_gift h5{
    font-size:16px;
    font-weight:bold;
    text-transform: uppercase;
}


#images_gift h1{
    font-weight: bold;
    font-size: 35px;
    padding: 0px;
    margin: 20px 0;
}

#images_gift h4{
    font-size:14px;
}
#images_gift h4 a{
    color:#000;
    font-size:16px;
    font-weight:bold;
}
#images_gift h4 a:hover{
    color:#4444ce;
    text-decoration:none;
    font-weight:bold;
}

#add-to-gifts{
    border: 1px solid #ffdb4c;
    background: #ffdb4c;
    color: #4444ce;
    font-family: Avenir-Book;
    margin: 25px 0 !important;
    width: 80%;
}

.prefix .input-group-addon {
    border:none;
    padding: 0 10px 10px 0;
    background-color:white;
    height:20px;
}

#cash-head h5{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 0px 20px;
    font-weight:700;
}
#cash-head p{
    margin:15px;
    text-transform:uppercase;
}
#cash-head p a{
    color:#5dc3b2;
    text-decoration:underline;
    font-size:16px;
    font-family:'Avenir-Light';
    line-height:22px;
}

#cash-img {
    margin:10px 0;
    padding: 0 20px;
}

#cash-img a{
    color:#000;
    text-decoration:none;
}

.cash-para{
    margin:10px 0;
    font-size:16px;
    line-height:16px;
    font-family:'Avenir-Book';
    color:#34334A;
}

#cash-img h6{
    color:#FF0055;
    font-family: 'Avenir-Light';
    letter-spacing:1.16px;
    line-height:16px;
    font-size:12px;
}

#cash-img h6 strong{
    color:#34334A;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    letter-spacing:1.16px;
    line-height:24px;
}
@media only screen and (min-width: 1734px) and (max-width: 2685px) {
    #img-height{
        height:300px !important;
    }
    .hoverimg{
         height:300px !important;
    }
    .cart_1{
         height:300px !important;
    }
    .cancel_1{
        top:232px !important;
    }
    .img-height
    {
        height:300px !important;
    }
    .cart{
        height:265px !important;
        padding:60px !important;
    }
    .gifted_icon{
        height:300px !important;
        padding:60px !important;
    }
    .draggable{
        width:70% !important;
    }
    .edit-dets{
        width:70% !important;
    }
    .trash{
        width:70% !important; 
    }
    #pos_abs_img img{
        margin: -226px 40px;
    }
    
}

@media only screen and (max-width: 767px) {
    .gift_message .cont{
        margin: 0 20px !important;
    }
    .gift_payment .cont{
        margin: 0 20px !important;
        padding: 0px;
    }
    #disc_img{
        margin-top:-6px!important;
    }
    .gift_bill .cont{
        margin: 0 20px !important;
        padding: 0px;
    }
    .gift_bill p{
        padding:10px 0;
        margin: 10px 0;
    }
    .gift_bill .container .row{
        padding:0px;
    }
    .gift_payment p{
       padding:10px 0;
       margin: 10px 0;
    }
    .redeem-success img{
        width:100%;
    }
    #search_input{
        margin:0px;
    }
    #search_result{
        padding:10px 0;
    }
    #gift_head .container-fluid{
        margin:0px;
    }
    #gift_head .ul_top_hypers{
    margin: 50px 0 20px !important;
    float: none;
    text-align: center;
}
    
    .gift_experience .container-fluid{
        padding: 0px;
    }
    .row{
        margin:0px !important;
    }
    .reco_col .row{
         margin: 0px 10px !important;
    }
    .reco_col p{
        min-height:64px;
    }
    .text-right p {
        min-height: 0px;
}
   .gift_reco .add_submit{
       margin:22px 0 0;
   }
   .reco_col .col-md-6{
       margin:15px 0 0;
   }
   #gift_price{
       margin:25px 0 0;
   }
   .cancel_1{
       top:182px;
   }
   .reco_col .cancel_1{
       margin:0px !important;
   }
   section.gift_experience{
       min-height:500px;
   }
   #gft_col_3 .col-md-4{
       padding:0px !important;
   }
   #gift_share .col-md-9{
       padding:0px !important;
   }
   .reco_col {
    margin-bottom:40px;   
   }
   #gft_title-req{
       padding-right:20px;
   }
   #pos_abs .btn_wht_pnk{
       margin:10px 0;
   }
   #foot_img{
       text-align:center!important;
   }
   .home{
       text-align:center!important;
   }
   footer .footer-top{
       margin-bottom:20px !important;
       padding-bottom:30px !important;
   }
   section.live_experience{
       min-height:500px;
   }

}
.gift-dets {
    display:none!important;
}

#my-child-photo img{
    cursor:pointer;
    max-width: 300px;
    height: auto;
}