#crecust{
    padding: 120px 0;
    background-color:#ebeaea;
    box-shadow: 0px 2px 8px #f2f2f2;
    min-height: 428px;
    cursor: pointer;
}

#add_form #gift_desc{
    min-height:150px !important;
    border: 1px solid black;
}
#gift_Add #add_form{
    margin:20px;
}

#gift_Add h5{
    font-family:'Poppins',sans-serif;
    font-weight:700;
    font-size:24px;
    margin:20px 30px;
    line-height:32px;
}

#add_form input{
    border: 1px solid black;
    margin-bottom:10px;
    font-family:'Avenir-Light';
    font-size:13px;
    padding: 10px;
} 
#add_form label{
    font-family:'Poppins',sans-serif;
    font-weight:700;
    font-size:12px;
    line-height:18px;
}
#gift_amount {
    margin-top:20px;
}
#gift_amount .yellow_submit{
    margin-top: 19px;
    background:#FFDE33;
    color: #4444ce;
    border:1px solid #FFDE33;
    width:100%;
    font-size:12px;
    font-family:'Avenir-Medium';
    letter-spacing:2.18px;
    line-height:16px;
    padding:10px;
}
.gift_reco #marg{
    margin-top:90px;
}
#shop_head{
 min-height:90px;   
}
#shop_list{
    margin-top:10px;
    padding:0px;
}
#shop_head .cont{
    margin:0 40px;
    padding:0px !important;
}
.shop_btns{
    margin:30px 0;
}
#btn_blk{
    background: #fff !important;
    font-family:'Poppins',sans-serif;
    color: #34344A !important;
    font-size:12px;
    margin: 0px 5px;
    width: fit-content;
    padding: 0px 30px;
    border: 1px solid #000;
    font-weight:400;
    letter-spacing:2px;
    line-height:15px;
}
#btn_blk:hover{
    color:#000 !important;
    border: 1px solid #000;
}
.shop_experience .cont{
    margin:0 40px !important;
    min-height:250px;
    background: url('http://fynches.codeandsilver.com/public/front/img/party.jpg');
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-size: cover;
    
}
.shop_experience .shop_title{
    color:#000;
    font-family:'Futura-Medium';
    font-weight:bold;
    font-size:2em;
    margin-bottom:0px;
}
.shop_experience .row{
    margin:30px 0;
}
.shop_experience h5 {
    margin-top:0px;
    margin-bottom:20px;
}
.shop_experience p{
    font-family:'Avenir-Book';
    font-size:15px;
}
.shop_sort .cont{
    margin:30px 40px !important;
}
.shop_sort .cont .col-md-12{
    padding:0px;
}
.shop_sort .btn{
    background:#fff;
    border:0px;
    font-family:'Poppins',sans-serif;
    color:#34344A;
    font-size:13px;
    letter-spacing:1.6px;
    line-height:20px;
    font-weight:700;
}
.shop_sort .btn:hover{
    background:#fff;
    border:0px;
    color:#000;
}
#shop_drop li a{
    font-size:12px;
    line-height:16px;
    font-family:'Avenir-Book';
    padding: 10px;
}

.shop_sort .btn:active,.btn:focus{
    background:#fff !important;
    border:0px !important;
    color:#000 !important;
}
.shop_sort #shop_drop{
    margin:0px !important;
    left:85%;
}
.shop_sort #shop_drop{
    padding:0px;
}
.shop_sort #shop_drop li{
    border-bottom:1px solid #fafafa;
    font-family:'Avenir-Book';
}
#shop_cat .cont{
    margin:0 30px !important;
    padding:0px !important;
}
#shop_cat .icon{
    background:#000;
    color:white;
    border-radius:5px;
}
#shop_cat h5{
   font-family:'Poppins',sans-serif;
   font-weight:700;
   font-size: 12px;
   margin:0px;
   line-height:22px;
   letter-spacing:0.6px;
   
}


#shop_cat li{
    font-family:'Avenir-Light';
    font-size:12px;
    line-height:28px;
    margin:0px;
}
#shop_cat #zip_code{
    width:60%;
}
#shop_cat{
    margin-bottom:50px;
}
.step_1{
    margin-bottom:30px;
}
.step_1 h5{
  font-family:'Poppins',sans-serif;
  font-weight:700;
  font-size: 16px;  
  line-height:16px;
  margin:10px;
}

.step_1 .cont h4{
  font-family:'Avenir-Heavy';
  line-height:22px;
  font-size: 16px; 
  padding: 30px 0;
  border-bottom:2px solid #f2f2f2;
}
#gftamt label strong{
  font-family:'Avenir-Heavy';
  line-height:16px;
  font-size: 12px;  
}
#gftamt p{
   font-family:'Avenir-Heavy';
  line-height:16px;
  font-size: 12px;
  letter-spacing:0.2px;
  color:#b1b1b1;
}

.step_1 .cont .step_gift{
    padding:30px 0 !important;
    border-bottom:2px solid #f2f2f2;
}

.step_1 .cont .step_price p{
    margin: 15px 0 !important;
     font-family:'Avenir-Heavy';
     font-size:16px;
     letter-spacing:0px;
     line-height:22px;
}
.step_info p{
    margin:15px 0 !important;
    font-family:'Avenir-Heavy';
    font-size:16px;
    letter-spacing:0px;
    line-height:22px;
}
.step_1 .cont #step_amt{
     margin:30px 0 !important;
     font-family:'Avenir-Heavy';
     font-size:10px;
     letter-spacing:1px;
     line-height:10px;
     color:#34344A;
}
.step_price {
    padding: 0px 6px!important;
}
#tot_amt h1{
    font-family:'Avenir-Heavy';
    font-size: 24px;
    line-height:27px;
    letter-spacing:2px;
    color:#34344A;
}
.total_amt{
    margin:20px 0;
}
.total_amt h5{
    margin: 20px 0;
    font-family:'Avenir-Heavy';
    font-size: 24px;
    line-height:27px;
    letter-spacing:2px;
    color:#34344A;
}
.gift_message{
    margin-bottom:30px;
}
#price_make{
    font-family:'Avenir-Medium';
    font-size:12px;
    line-height:16px;
    color:#34344A;
    margin: 0px;
}

.gift_message h5{
   font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    
}
.gift_message h6{
    font-family:'Avenir-Heavy';
    font-size:16px;
    line-height:16px;
    color:#34344A;
    padding:10px 0;
}
.gift_message h6 span{
    font-size:12px;
    font-family:'Avenir-Book';
    letter-spacing:0.6px;
    line-height:16px;
    color:#34344A;
}
.gift_message textarea{
    min-height:100px;
}
.gift_message .msg_pad{
    padding:30px 0;
}
.gift_payment .cont{
    margin-bottom:30px;
}
.gift_payment h5{
  font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    
}
.gift_payment .container .row{
    padding: 20px 0;
}
.gift_payment p{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size:10px;
    line-height:16px;
    letter-spacing:1px;
    color:#34344A;
}
.gift_payment input {
    border:1px solid black;
}
.gift_payment select {
    border:1px solid black;
}

.gift_bill h5{
  font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;  
}
.gift_bill .container .row{
    padding: 20px 0;
}
.gift_bill input{
    border:1px solid black;
}
.gift_bill p{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size:10px;
    line-height:16px;
    letter-spacing:1px;
    color:#34344A;
}

.gift_bill .yellow-submit{
    border: 1px solid #ffdb4c;
    background: #ffdb4c;
    color: #4444ce;
    font-family: Avenir-Medium;
    font-size:12px;
    letter-spacing:2.18px;
    line-height:16px;
    padding: 0 10px;
}
.gift_bill .yellow-submit:hover{
    border: 1px solid #ffdb4c;
    background: #ffdb4c;
    color: #4444ce;
    font-family: Avenir-Book;
    padding: 10px;
}
.gift_bill{
    margin-bottom:40px;
}
#btn_purp{
    background: #fff !important;
    font-family: 'Avenir-Book';
    color: #4444ce  !important;
    margin: 0px 5px;
    width: fit-content;
    padding: 20px;
    border: 1px solid #4444ce ;
    font-weight: bold;
}

#signup-header{
    padding: 15px !important;;
    display: inline-block !important;;
}
#largeModalS .modal-dialog .modal-content {
    padding: 0px 50px 20px !important;
}
#largeModalSI .modal-dialog .modal-content {
    padding: 0px 50px 20px !important;;
}
.terms-conditions {
    text-align: center;
    padding: 20px 30px !important;;
    font-size: 12px !important;;
    font-weight: 100 !important;;
    font-family:'Avenir-Book' !important;;
}

.signup-title{
    font-family: Futura-Medium;
    font-weight:bold !important;;
    font-size:30px !important;;
}
#sign_in{
    font-family: Avenir !important;;
    font-weight:bolder !important;;
    font-size:24px !important;;
}

#forgot_password #cont{
    margin:30px !important;
}
#forgot_password #signup-header{
    font-family: Futura-Medium;
    font-weight:bold;
    font-size:30px;
}
#forgot_password .para{
    margin:20px;
}
#forgot_password .yellow-submit{
    border: 1px solid #ffdb4c;
    background: #ffdb4c;
    color: #4444ce;
    font-family: Avenir-Book;
    padding: 10px 10px;
    margin: 10px 0px!important;
}



.add_submit{
    padding:10px;
    color:#000;
    background:#eaf1ef;
    font-family:'Poppins',sans-serif;
    font-size:12px !important;
    width: 85%;
    letter-spacing:2px;
    margin-top:7px;
}

@media only screen and (max-device-width: 746px) {
       #fyn_logo{
        padding-left: 30px;
        margin: 30px 0;
        height: 30px;
       }
      #btn_blk {
        margin:5%;
        width: 105%;
      }
     .shop_title {
        font-size: 2em; 
      }
        .reco_col .btn_purp {
        border: 1px solid #4444ce;
        background: #fff;
        color: #4444ce;
        font-family: Futura-Medium;
        font-size: 12px;
        width: 100%;
    }
    .reco_col .yellow_submit{
        border: 1px solid #ffdb4c;
        background: #ffdb4c;
        color: #4444ce;
        font-family: Futura-Medium;
        font-size: 12px;
        width: 100%;
    }
    .fheader{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:10px;
    }
}

@media only screen and (max-device-width: 425px) {
  .fheader{
        display: flex;
        align-content: center;
        justify-content: center;
    }
  #fyn_logo{
    padding-left: 5px;
    margin: 29px 0;
    height: 30px;
    }
    
}

.gift-dets {
    display:none!important;
}
.gift_payment i.fa-asterisk, .gift_bill i.fa-asterisk{
    color: #ff5d9a;
    padding-right: 5px;
}